@model MVCBookingFinal_YARAB_.Models.Country

<a asp-action="ViewHotels"  asp-controller="Reservation" asp-route-CountryOrCity="@Model.Name">
    <div class="card bg-dark text-white overflow-hidden" style="width:350px;height:250px;border-radius:10px">
        <img class="card-img img-fluid  w-100 h-100 object-fit-cover " src="~/ProductsImages/hero2.webp" alt="~/ProductsImages/Default.jpg">
        <div class="card-img-overlay mw-100 mh-100">
        <h3 class="card-title fw-bold">@Model.Name</h3>
       
    </div>
</div>
</a>

@* ~/ProductsImages/@Model.Image *@