
@{
    Layout = "_NavFooter";
}
<div class="container">

<div class="inbox ">

    <h1>Your email has been successfully confirmed!</h1>
    <h1 style="margin:0;">You can now log in.</h1>
    
    <div class="linkconfirmedemailholder">
        

            <a href="/Account/Login" class="btn btn-primary">log in</a>
        
    </div>
</div>

<!DOCTYPE html>


    