@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
}

<div class="container forgetpassword">

<h1>ForgetPassword</h1>
<div class="form forgetpasswordform col-6">


<form asp-action="SendEmail" >
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <div>
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control col-12" />
        <span asp-validation-for="Email" class="text-danger"></span>
        </div>      
    </div>
            <div class="form-group text-center">

    <input type="submit" value="Send Email" class="btn btn-primary col-12"/>
    </div>


</form>
</div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
