@model MVCBookingFinal_YARAB_.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<div class="container ">


<h1>Login</h1>


<hr />
<div class="row form col-6 loginform">
    <div class="col-md-6">
        <form asp-action="Login">
            <div asp-validation-summary="All" class="text-danger"></div>


                <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="UsernameOrEmail" class="control-label fw-bold"></label>
                <input asp-for="UsernameOrEmail" class="form-control" />
            </div>


                <span asp-validation-for="Password" class="text-danger"></span>
            <div class="form-group">
                    <label asp-for="Password" class="control-label fw-bold"></label>
                <input asp-for="Password" class="form-control" />
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group ">
                <input type="submit" value="Log In" class="btn btn-primary col-12" />
            </div>
        </form>
    </div>
    <div class="linkcontainer">
        <div class="Externallogincontainer">
        <a asp-action="ExternalLogin" asp-controller="Account" asp-route-provider="Google" ><i class="fa-brands fa-google googleicon btn btn-primary"></i></a>              
        <a asp-action="ExternalLogin" asp-controller="Account" asp-route-provider="Facebook"><i class="fa-brands fa-facebook-f googleicon btn btn-primary"></i></a>
        </div>
        
        <div class="text-end">
            <a asp-action="Register">Don't Have an Account? register Now!</a>
            <br />
            <a asp-action="ForgetPassword">Forget Password</a>
        </div>
    </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
