@model MVCBookingFinal_YARAB_.ViewModels.FavoritesViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Favorite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" >
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" />

                <label asp-for="HotelId" class="control-label">Select a Hotel</label>
                <select asp-for="HotelId" class ="form-control" asp-items="ViewBag.Hotels"></select>
                <span asp-validation-for="HotelId" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add to Favorites</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
